.Container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--gray-4);
  z-index: 10;
  width: 100%;
}

.CenterSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RightSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Root {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 1rem;
  border-bottom: 1px solid var(--gray-4);
  z-index: 10;
}

.MenuList {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.ActiveLink {
  color: var(--accent-indicator) !important;
}

.Trigger,
.Link {
  all: unset;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.25s, color 0.25s;
  text-decoration: none;
  transition: background-color 0.25s;
}

.Trigger:hover,
.Link:hover {
  color: var(--accent-indicator);
}

.CaretDown {
  transition: transform 0.3s ease;
}

.Trigger[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.Trigger[data-state="open"] {
  color: var(--accent-indicator);
}

.Content {
  position: absolute;
  margin-top: 8px;
  background: var(--gray-1);
  border-radius: 12px;
  box-shadow: var(--shadow-3);
  padding: 0.5em;
  min-width: 180px;
  overflow-y: auto;
  z-index: 20;
}

.SubList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.SubLink {
  text-decoration: none;
  padding: 0.6em 1em;
  border-radius: var(--radius-1);
  transition: background-color 0.25s, color 0.25s;
  display: block;
}

.SubLink:hover,
.SubLink:focus {
  background-color: var(--accent-surface);
  outline: none;
  color: var(--accent-indicator);
}

.DropdownContent {
  box-shadow: var(--shadow-3);
}
