:root{
    --back-color: rgb(217, 243, 255);
    --back-color-sender: rgb(103, 207, 255);
}
.Root{
    background-color: var(--back-color);
    padding: 20px;
    border-radius: 15px 15px 0px 15px;
}

.RootSender{
    padding: 20px;
    background-color: var(--back-color-sender);
    padding: 10px;
    border-radius: 15px 15px 15px 0px;
}

